.circular{
    height:60px;
    width: 60px;
    position: relative;
    transform:scale(2);
  }
  .circular .inner{
    position: absolute;
    z-index: 6;
    top: 50%;
    left: 50%;
    height: 50px;
    width: 50px;
    margin: -25px 0 0 -25px;
    background: #dde6f0;
    border-radius: 100%;
   
  }
  .circular .number{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index:10;
    font-size:18px;
    font-weight:500;
    color:#4682b4;
  }
  .circular .bar{
    position: absolute;
    height: 100%;
    width: 100%;
    background: #fff;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    clip: rect(0px, 60px, 60px, 30px);
  }
  .circle .bar .progress{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    clip: rect(0px, 30px, 60px, 0px);
    background: #4682b4;
  }
  .circle .left .progress{
    z-index:1;
    animation: left 0s linear both;
  }
  @keyframes left{
    100%{
      transform: rotate(40deg);
    }
  }
  .circle .right {
    transform: rotate(180deg);
    z-index:3;
   
  }
  .circle .right .progress{
    animation: right 0s linear both;
    animation-delay:0s;
  }
  @keyframes right{
    100%{
      transform: rotate(80deg);
    }
  }